<%= form_with model: [@category, @task], local: true do |f| %>
  <p>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </p>
  <p>
    <%= f.label :name , class:"form-label" %><br/>
    <%= f.text_field :name, class:"form-control"%>
  </p>

  <p>
    <%= f.label :description, class:"form-label" %><br/>
    <%= f.text_field :description, class:"form-control" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Back to Tasks", category_tasks_path(@category), class: "btn btn-secondary"  %>
