<p style="color: green"><%= notice %></p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Details</th>
            <th>Created</th>
            <th>Last Updated</th>
            <th>Due_Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @task.id %></td>
            <td><%= @task.name %></td>
            <td><%= @task.details %></td>
            <td><%= @task.created_at %></td>
            <td><%= @task.updated_at %></td>
            <td><%= @task.due_date %></td>
            <td class="icons">
                <%= link_to "", edit_category_task_path(@category.id, @task.id), class:"fa-solid fa-pen-to-square fa-xl" %>
                <%= button_to "", category_task_path(@category.id, @task.id), method: :delete, class:"fa-solid fa-trash-can fa-xl" %>
            </td>

            
        </tr>
    </tbody>
</table>

<div>
    <%= link_to "Back to tasks", category_tasks_path(@category),class: "btn btn-outline-primary" %> 
    <%= link_to "Back to categories", categories_path, class: "btn btn-secondary" %>
</div>